*{
    margin: 0;
    padding: 0;

}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    background:#FFFFFF;
    border: 1px solid red;
}
.container {
 max-width: 1600px;
 margin: auto;
 padding: 16px 120px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 58px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF  ;
}
nav a{
    margin: 19.5px 19.5px;
    text-decoration: none;
    color: #000000;
    font-weight: 120;
}
header button{
    background-color: #469165 ;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
